MOVIES_LISTEN_PORT=8080
MOVIES_GRPC_LISTEN_PORT=50051
MOVIES_TMDB_TOKEN=abcdefg

#MOVIES_STUBS=media

REDIS_URL=redis://redis:6379

POSTGRES_USER=postgres
POSTGRES_PASSWORD=some_random_password
POSTGRES_DB=movies
POSTGRES_HOST=postgres

