{{define "error"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies: {{.ErrorTitle}}</title>
    <link rel="icon" href="{{ static `favicon.ico`}}" sizes="any">
    <link rel="stylesheet" href="{{ static `css/style.css`}}">
</head>
<body>

<div class="error-container">
    <div class="error-code">{{.ErrorCode}}</div>
    <div class="error-divider"></div>
    <p class="error-title">{{.ErrorTitle}}</p>
    {{if .ErrorDescription}}
    <p class="error-description">{{.ErrorDescription}}</p>
    {{end}}
    <a class="error-link" href="/">Go to homepage</a>
</div>

</body>
</html>
{{end}}