{{define "main"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
    <link rel="icon" href="{{ static `favicon.ico`}} " sizes="any">
    <link rel="stylesheet" href="{{ static `css/style.css`}} ">

    <script src="{{static `js/storage.js`}}" defer></script>
    <script src="{{static `js/main-page.js`}}" defer></script>
</head>
<body>

{{template "search-form" .}}

<section class="recent-section" hidden>
    <h2 class="results-heading">Continue watching</h2>
    <div id="recent-watched" class="movies-grid"></div>
</section>

</body>
</html>
{{end}}